<?xml version="1.0"?>
<config>
    <modules>
        <Tsg_Trial>
            <version>0.0.4</version>
        </Tsg_Trial>
    </modules>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Tsg_Trial before="Mage_Adminhtml">Tsg_Trial_Adminhtml</Tsg_Trial>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <frontend>
        <routers>
            <trial>
                <use>standard</use>
                <args>
                    <module>Tsg_Trial</module>
                    <frontName>trial</frontName>
                </args>
            </trial>
        </routers>
        <layout>
            <updates>
                <trial>
                    <file>trial.xml</file>
                </trial>
            </updates>
        </layout>
    </frontend>
    <global>
        <helpers>
            <tsg_trial>
                <class>Tsg_Trial_Helper</class>
            </tsg_trial>
        </helpers>
        <models>
            <tsg_trial>
                <class>Tsg_Trial_Model</class>
                <resourceModel>tsg_trial_resource</resourceModel>
            </tsg_trial>
            <tsg_trial_resource>
                <class>Tsg_Trial_Model_Resource</class>
                <entities>
                    <news>
                        <table>tsg_trial_news</table>
                    </news>
                </entities>
            </tsg_trial_resource>
            <importexport>
                <rewrite>
                    <export_entity_product>Tsg_Trial_Model_Trial_Export_Product</export_entity_product>
                </rewrite>
            </importexport>
        </models>
        <blocks>
            <tsg_trial>
                <class>Tsg_Trial_Block</class>
            </tsg_trial>
        </blocks>
        <resources>
            <tsg_trial_setup>
                <setup>
                    <module>Tsg_Trial</module>
                </setup>
            </tsg_trial_setup>
        </resources>
    </global>
    <adminhtml>
        <events>
            <catalog_product_save_before>
                <observers>
                    <tsg_trial>
                        <class>tsg_trial/observer</class>
                        <method>mainNews</method>
                    </tsg_trial>
                </observers>
            </catalog_product_save_before>
        </events>
        <layout>
            <updates>
                <trial>
                    <file>trial.xml</file>
                </trial>
            </updates>
        </layout>
    </adminhtml>
</config>