<?xml version="1.0"?>
<config>
    <modules>
        <Tsg_Trial>
            <version>0.0.1</version>
        </Tsg_Trial>
    </modules>
    <frontend>
        <routers>
            <trial>
                <use>standard</use>
                <args>
                    <module>Tsg_Trial</module>
                    <frontName>trial</frontName>
                </args>
            </trial>
        </routers>
        <layout>
            <updates>
                <trial>
                    <file>trial.xml</file>
                </trial>
            </updates>
        </layout>
    </frontend>
    <global>
        <blocks>
            <trial>
                <class>Tsg_Trial_Block</class>
            </trial>
        </blocks>
    </global>
</config>