<?xml version="1.0"?>
<config>

    <modules>
        <Tsg_Review>
            <version>0.0.1</version>
        </Tsg_Review>
    </modules>

    <global>
        <blocks>
            <tsg_review>
                <class>Tsg_Review_Block</class>
            </tsg_review>
            <reports>
                <rewrite>
                    <product_viewed>Tsg_Review_Block_Product_Viewed</product_viewed>
                </rewrite>
            </reports>
        </blocks>
        <models>
            <tsg_review>
                <class>Tsg_Review_Model</class>
            </tsg_review>
        </models>
        <helpers>
            <tsg_review>
                <class>Tsg_Review_Helper</class>
            </tsg_review>
        </helpers>
    </global>
    <frontend>
        <routers>
            <tsg_review>
                <use>standard</use>
                <args>
                    <module>Tsg_Review</module>
                    <frontName>tsg_review</frontName>
                </args>
            </tsg_review>
        </routers>
        <layout>
            <updates>
                <tsg_review module="Tsg_Review">
                    <file>tsg_review.xml</file>
                </tsg_review>
            </updates>
        </layout>
        <events>
            <customer_login>
                <observers>
                    <tsg_review_customer_login>
                        <type>model</type>
                        <class>tsg_review/observer</class>
                        <method>customerLogin</method>
                    </tsg_review_customer_login>
                </observers>
            </customer_login>
            <customer_logout>
                <observers>
                    <tsg_review_customer_login>
                        <type>model</type>
                        <class>tsg_review/observer</class>
                        <method>customerLogout</method>
                    </tsg_review_customer_login>
                </observers>
            </customer_logout>
        </events>
    </frontend>
</config>